<div class="container">
    <br>
    <div class="row">
        <div class="col">
        </div>
        <div class="container text-center mt-5 vh-100">
            <h3 class="display-10">Welcome to Nagp Insurance company</h3>

            <div class="jumbotron text-center">
                <p>Note : Our container application.</p>
                <a class="btn btn-info" routerLink="/insurance-details" routerLinkActive="active">
                    <i class="fa fa-search"></i> Search Policy
                </a>
            </div>
        </div>
        <div class="col ">
        </div>
    </div>
</div>